<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body ng-app="myModule">

		<div ng-controller="myController">
			<span ng-repeat="province in provinces">
				<button id="top" ng-click="scrollTo(province.name)">{{province.name}}</button>
			</span>
				<fieldset ng-repeat="province in provinces" id="{{province.name}}">
						<legend>{{province.name}}</legend>
						<ul ng-repeat="city in province.cities">
							<li>{{city.name}}</li>
						</ul>
				</fieldset>
		</div>

		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/17.2_anchorscrollData.js"></script>

	</body>

</html>